{% extends "Inicio3.html" %}
{% block body %}
    <form method="POST">
        <div class="container text-center">
            <img id="img" width="350" height="480" src="{{ imagen }}">
            <br>
            <a class="fcc-btn" href="{{ archivozip }}" download="">Descargar</a>
            <button type="submit" class="btn btn-primary btn-shadow btn-lg">Volver</button>
        </div>
    </form>
    <br>
    <div class="alert">
        <h3>{{ message }}</h3>
    </div>
{% endblock %}