{% extends "Inicio.html" %}
{% block body %}
    <form method="POST">
        <div class="form-group">
            <iframe width="330" height="315" src="{{ archivo3 }}" title="YouTube Video Player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <br>
            <a class="fcc-btn" href="{{ archivo3 }}" download="">Descargar</a>
            <button type="submit">Volver</button>
        </div>
    </form>
    <br>
    <div class="alert">
        <h3>{{ message }}</h3>
    </div>
{% endblock %}